.App {
  max-width: 60rem;
  margin: 0 auto;

  text-align: center;
}

h1 {
  margin: 4rem 0;

  font-size: 5rem;
  font-weight: 800;
}

h2 {
  margin: 4rem 0;

  font-size: 3rem;
  font-weight: 800;
}
